# OS
.DS_Store
Thumbs.db

# Tools
.idea
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace

# Built
node_modules
.next
.cache
*.log
static/styles/app.css
bundles

# Secrets
.env
.env.test
.env.dev